#######################################
########APP Settings ##########
#######################################

# enable debug mode.  Disable this in production!
DEBUG = True
HOST_IP = '127.0.0.1'

SQLALCHEMY_DATABASE_URI = 'postgresql://testuser:testpassword@127.0.0.1/testdb'
TITLE = 'app'
SUBTITLE = 'A Flask Template with Bootstrap 3.1'
AUTHOR = 'John Q. Public'
AUTHOR_EMAIL = 'john.q.public@gmail.com'
KEYWORDS = 'python, Flask, template, Bootstrap, authorization'
DESCRIPTION = 'A Flask project skeleton, as opposed to a plug-in, for easy bootstraping of Flask projects involving SQLAlchemy and Bootstrap'
# Need secret key for app encryption.
# Simple way to generate a random secret key:
#
#    python -c "print repr(__import__('os').urandom(40))"
# SECRET_KEY = <need key>
