<div id="my-nav-bar">
  <!-- nav bar content -->
  <div class="navbar-top-fixed">
    <a href="/" class="project-name">Project name</a>
    {% if session['username'] is defined %}
    <a href="#" class="user-login navbar-link dropdown-toggle pull-right" data-toggle="dropdown">Logged in as: {{ session['username'] }}<b class="caret"></b></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="/logout/">Logout</a></li>
      </ul>
    {% else %}
      <a href="#" class="user-login navbar-link dropdown-toggle pull-right" data-toggle="dropdown">User Login <b class="caret"></b></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="/login/">Login</a></li>
        <li><a href="/users/create/">Signup</a></li>        
      </ul>
    {% endif %}
  </div>
</div>
