{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit"> 
        <h1>Welcome to Flask-Bootstrap!</h1>
        <p>This is Flask app combined with SQLAlchemy and a Bootstrap's template and jQuery.  Use it as a starting point to create something more unique.</p>
        <p>Note that the "Login" option under the "User" dropdown menu above should be operational if you have installed all the dependencies specified in requirements.txt and configured your Postgres database in app.cfg.</p> 
      </div> 
 
      <hr> 
{% endblock %}


{% block footer %}
  <footer> 
    <p>&copy; Company 2014</p> 
  </footer> 
{% endblock %}
