<!-- <div id="my&#45;nav&#45;bar"> -->
  <!-- nav bar content -->
  <div class="navbar navbar-fixed-top navbar-inverse" >
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Project name</a>
    </div>
    {% if current_user.is_authenticated() %}
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged is as: {{ current_user.username }} <b class="caret"></b></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </li>
    {% else %}
      <ul class="nav navbar-nav pull-right">
        <li><a href="/login/">Login</a></li>
        <li><a href="/users/create/">Signup</a></li>        
      </ul>
    {% endif %}
  </div>
<!-- </div> -->
